* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
.header,
.main,
.footer {
  display: flex;
  justify-content: space-around;
}
.header .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}
.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo span {
  font-size: 20px;
  color: black;
}
.menu li {
  display: inline-block;
  padding: 20px;
  margin: 0 5px;
  font-size: 20px;
  border: 2px solid bisque;
  transition: all 0.7s ease;
}
.menu li:hover {
  background-color: pink;
  border: 2px solid black;
}
.menu li a {
  text-decoration: none;
  color: black;
}
